.footer {
  min-height: 100px;
  .footer__brand {
    text-decoration: none;
    color: $mainwhite;
    font-size: 32px;
    font-family: none;
  }
  .info {
    text-decoration: none;
    margin-top: 90px;
    color: grey;
    font-family: sans-serif;
  }
  .footer__title {
    color: rgb(255, 187, 0);
    font-family: sans-serif;
  }
  .list {
    list-style: none;
    padding-left: 0;
    .footer__link {
      text-decoration: none;
      color: $mainwhite;
    }
  }
}
