.header {
  position: relative;
  background-color: transparent;
  nav {
    height: 7rem;
    @include flexStyle(center, space-between);
    font-size: 1.6rem;
    .brand {
      text-decoration: none;
      color: $mainwhite;
      font-size: 32px;
      font-family: none;
    }
    input[type="checkbox"] {
      display: none;
    }
    label[for="checkbox"] {
      position: fixed;
      right: 30px;
      top: 40px;
      cursor: pointer;
      z-index: 100;
      .header__btn-item {
        top: 30px;
        width: 30px;
        height: 2px;
        background: $mainwhite;
        margin: 6px;
        transform-origin: 4px;
        transition: 1s;
        @include respond(tab-por) {
          display: none;
        }
      }
    }
    input[type="checkbox"]:checked + label {
      .header__btn-item:first-of-type {
        transform: rotate(45deg);
      }
      .header__btn-item:nth-of-type(2) {
        opacity: 0;
        visibility: hidden;
      }
      .header__btn-item:last-of-type {
        transform: rotate(-45deg);
      }
    }
    .menu__wrapper {
      position: fixed;
      top: 0;
      left:0;
      visibility: hidden;
      opacity: 0;
      z-index: 90;
    }
    ul {
      position: absolute;
      left: -50%;
      list-style: none;
      padding-left: 0;
      transition: 2s;
      @include respond(tab-por) {
        display: flex;
        // transform: translateX(0);
      }
      li {
        margin: 10px;
      }
    }
    .auth {
      display: none;
      // transform: translateX(-200vw);
      // @include respond(tab-por) {
      //   display: none;
      //   // transform: translateX(0);
      // }
      span {
        display: inline-block;
        img {
          width: auto;
        }
      }
    }
    a {
      text-decoration: none;
      color: $mainwhite;
      font-family: sans-serif;
      font-size: 1.2rem;
    }
    input[type="checkbox"]:checked + label + .menu__wrapper ul {
      left: 50%;
      transform: translateX(-50%);
    }
    input[type="checkbox"]:checked + label + .menu__wrapper {
      visibility: visible;
      opacity: 1;
      width: 100vw;
      height: 100vh;
      background: #000; 
    }
    // input[type="checkbox"]:checked + label + ul + .auth {
    //   display: block;
    //   transform: translateX(0);
    // }
  }
}
