*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: $mainblack;
  padding: 0;
  margin: 0;
  // font-family: sans-serif;
  color: $mainwhite;
  // font-size: 10px;
}

.container {
  padding: 0 15px;
  @include respond(tab-land) {
    padding: 0 80px;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: $mainwhite;
  background-color: $mainblue;
  padding: 10px 20px;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  display: inline-block;
  @include respond(tab-por) {
    height: 90%;
    // margin: auto;
  }
}

a {
  display: inline-block;
}

section {
  padding-top: 70px;
}

.sec__title {
  font-family: sans-serif;
  .sec__title-item:last-of-type {
    color: rgb(255, 196, 0);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-left: 25px;
    letter-spacing: 1.5px;
  }
  .sec__title-item:first-of-type {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 2px;
    background: rgb(255, 196, 0);
  }
}

.sec__link {
  color: rgb(228, 196, 53);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  section {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
}

// $breakpoint(sm:576px, md:768px, lg:992px, xl:1140px,);

// @each $i in (success, danger, warning) {
//   .#{$i} {
//     color: $i;
//   }
// }

// $breakpoints:(
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1140px,
//   xxl: 1440px
// );

// @each $mq in $breakpoints (sm, md, lg, xl, xxl) {
//   @media screen and (min-width: map-get($breakpoints, $mq)) {
//     .col {
//       color: $mq;
//     }
//   }
//   .mendirmanusha {
//     color: $mq;
//   }
// }

// @for $i from 1 through 12 {
//   .col-#{$i} {
//     flex-basis: 100% / 12 * $i;
//   }
// }

// .qanaqadir {
//   color: map-get($theme-colors, success );
// }

// $name: "5";

// @if $name > 6 {
//   .Sanjarbek {
//     height: 170px;
//     width: 80px;
//     color: lime;
//   }
// }
